{
    "IsEncrypted": false,
    "Values": {
        "AzureWebJobsStorage": "DefaultEndpointsProtocol=https;AccountName=scusonlinefuncsa;AccountKey=zUGzjIZRwSYU03HgPLphNBH/LBEa1WqEtFaxZasP2P36FlmqWrF+YeZXaI4zmyXjlRMFEgGbezmkH56zg2T99Q==;EndpointSuffix=core.windows.net",
        "FUNCTIONS_WORKER_RUNTIME": "dotnet",
        "EmailSender": "fakeidaccount@otmail.com",
        "SendGridApiKey": "SG.gkILf-jmTpW0pPvulrsAQg.Y41a5oYCakQAW22T5j23mHBycq94xzVOVF483KBl4asdf"
    }
}


